.user-grid{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.inf-grid{
    /* display: flex; */
    width: 600px;
    padding: 100px 40px 40px;
    /* margin-right: 200px; */
    margin-left: 50px;
}
.buttons-grid{
    display: flex;
    width: 500px;
    flex-direction: column;
    margin: 150px 50px 50px;
    align-items: center;
}
.button-margin{
    width: 200px;
    background-color: #00B0CA;
    color: white;
}